# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*randletter <- function(x=1){
  sample(letters, 1)
}
randletter()

# Output files from R CMD build
SharidanPaigeRickmon_0.1.0.tar.gz 


# Temporary files created by R markdown
*.utf8.md
*.knit.md
